@import "quasar.variables";
@import "~quasar/src/css/variables.sass";


body, .site-bg {
	background: $grey-2;
}

.bg-shade {
	background: #ffffff;
}

body.body--dark {
	background: $blue-grey-9;

	.q-card {
		background: $blue-grey-9;
	}

	&.site-bg, .site-bg {
		background: $blue-grey-9;
	}

	.bg-shade {
		background: $blue-grey-7;
	}
}


.border-1 {
	border: 1px solid;
}

.border-rounded-5 {
	border-radius: 5px;
}

.border-white {
	border-color: white;
}

.border-black {
	border-color: black;
}

.q-card {
	background: $grey-4;
}

.width-50 {
	width: 50%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;

	line-height: 1.2;
	font-weight: 300;
}

h1, .h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

h2, .h2 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

h3, .h3 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

h4, .h4 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

h5, .h5 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

h6, .h6 {
	font-size: 1rem;
	margin-bottom: 1rem;
}
